@model ChatMVCApplication.Business.Models.PrivateChatDto;
@{
    ViewData["Title"] = "Chat";
}
<div class="chat">
                    <div class="chat-header clearfix">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="chat-about">
                                    <h6 class="m-b-0">@Model.UserName</h6>
                                    <button id="pagination-button" type="button" onclick="getMessages(this, @Model.ToUserId)" value="1" class="btn btn-primary">Показать прошлые сообщения</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chat-history">
                        <ul id="messages" class="m-b-0 messagesList">
                            @foreach(var message in Model.Messages.OrderBy(x => x.CreateDate).ToList())
                            {
                                if (message.IsMineMessage)
                                {
                                    <li class="clearfix">
                                        <div class="message my-message">@message.Text</div>
                                    </li>
                                }
                                else
                                {
                                    <li class="clearfix">
                                        <div class="message other-message float-right"> @message.Text</div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="chat-message clearfix">
                        <div class="input-group mb-0">
                            <div id="sendButton" class="input-group-prepend" onclick="sendMessage(@Model.ToUserId)">
                                <span class="input-group-text"><i class="fa fa-send"></i></span>
                            </div>
                            <input id="messageInput" type="text" class="form-control" placeholder="Напишите сообщение">
                        </div>
                    </div>
                </div>
<script src="~/js/chat.js">
</script>
<script>
    SetUserId(@Model.ToUserId);
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
